[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=python /usr/share/icaro-bloques/main.py
Name=icaro-bloques
Comment=proyeto de robotica educativa libre
Icon=/usr/share/icaro-bloques/imagenes/logo.png
Name[es_ES]=icaro
