
module my-ps 1.0;

require {
	type auditd_t;
	type rtkit_daemon_t;
	type xserver_t;
	type unconfined_dbusd_t;
	type modemmanager_t;
	type rngd_t;
	type udev_t;
	type bluetooth_t;
	type accountsd_t;
	type systemd_logind_t;
	type audisp_t;
	type cupsd_t;
	type crond_t;
	type firewalld_t;
	type avahi_t;
	type chronyd_t;
	type syslogd_t;
	type NetworkManager_t;
	type dhcpc_t;
	type fsdaemon_t;
	type gssproxy_t;
	type mcelog_t;
	type abrt_dump_oops_t;
	type devicekit_disk_t;
	type kernel_t;
	type devicekit_power_t;
	type blueman_t;
	type alsa_t;
	type irqbalance_t;
	class dir getattr;
}

#============= blueman_t ==============
allow blueman_t NetworkManager_t:dir getattr;
allow blueman_t abrt_dump_oops_t:dir getattr;
allow blueman_t accountsd_t:dir getattr;
allow blueman_t alsa_t:dir getattr;
allow blueman_t audisp_t:dir getattr;
allow blueman_t auditd_t:dir getattr;
allow blueman_t avahi_t:dir getattr;
allow blueman_t bluetooth_t:dir getattr;
allow blueman_t chronyd_t:dir getattr;
allow blueman_t crond_t:dir getattr;
allow blueman_t cupsd_t:dir getattr;
allow blueman_t devicekit_disk_t:dir getattr;
allow blueman_t devicekit_power_t:dir getattr;
allow blueman_t dhcpc_t:dir getattr;
allow blueman_t firewalld_t:dir getattr;
allow blueman_t fsdaemon_t:dir getattr;
allow blueman_t gssproxy_t:dir getattr;
allow blueman_t irqbalance_t:dir getattr;
allow blueman_t kernel_t:dir getattr;
allow blueman_t mcelog_t:dir getattr;
allow blueman_t modemmanager_t:dir getattr;
allow blueman_t rngd_t:dir getattr;
allow blueman_t rtkit_daemon_t:dir getattr;
allow blueman_t syslogd_t:dir getattr;
allow blueman_t systemd_logind_t:dir getattr;
allow blueman_t udev_t:dir getattr;
allow blueman_t unconfined_dbusd_t:dir getattr;
allow blueman_t xserver_t:dir getattr;
