// Sample linker command file for 10F202

LIBPATH  .

CODEPAGE   NAME=page     START=0x0     END=0x1FF
CODEPAGE   NAME=.idlocs  START=0x200   END=0x203     PROTECTED
CODEPAGE   NAME=.config  START=0xFFF   END=0xFFF     PROTECTED

DATABANK   NAME=sfrs     START=0x0     END=0x07     PROTECTED
DATABANK   NAME=gprs     START=0x08    END=0x1F

SECTION    NAME=PROG     ROM=page      // ROM code space
SECTION    NAME=IDLOCS   ROM=.idlocs   // ID locations

