// Sample linker command file for 16c52
// $Id: 16c52.lkr,v 1.9 2006/08/19 02:50:37 craigfranklin Exp $

LIBPATH  .

CODEPAGE   NAME=page     START=0x0      END=0x17F
CODEPAGE   NAME=.config  START=0xFFF    END=0xFFF    PROTECTED
CODEPAGE   NAME=.idlocs  START=0x180    END=0x183    PROTECTED

DATABANK   NAME=sfrs     START=0x0      END=0x6      PROTECTED

DATABANK   NAME=gprs     START=0x7      END=0x1F

SECTION    NAME=PROG     ROM=page       // ROM code space
SECTION    NAME=IDLOCS   ROM=.idlocs    // ID locations

