// Sample linker command file for 16CR58A
// $Id: 16cr58a.lkr,v 1.9 2006/08/19 02:50:38 craigfranklin Exp $

LIBPATH  .

CODEPAGE   NAME=page0    START=0x0      END=0x1FF
CODEPAGE   NAME=page1    START=0x200    END=0x3FF
CODEPAGE   NAME=page2    START=0x400    END=0x5FF
CODEPAGE   NAME=page3    START=0x600    END=0x7FF
CODEPAGE   NAME=.config  START=0xFFF    END=0xFFF    PROTECTED
CODEPAGE   NAME=.idlocs  START=0x800    END=0x803    PROTECTED

SHAREBANK  NAME=sfrs     START=0x0      END=0x6      PROTECTED
SHAREBANK  NAME=sfrs     START=0x20     END=0x26     PROTECTED
SHAREBANK  NAME=sfrs     START=0x40     END=0x46     PROTECTED
SHAREBANK  NAME=sfrs     START=0x60     END=0x66     PROTECTED

SHAREBANK  NAME=gprnobnk START=0x7      END=0xF
SHAREBANK  NAME=gprnobnk START=0x27     END=0x2F
SHAREBANK  NAME=gprnobnk START=0x47     END=0x4F
SHAREBANK  NAME=gprnobnk START=0x67     END=0x6F

DATABANK   NAME=gpr0     START=0x10     END=0x1F
DATABANK   NAME=gpr1     START=0x30     END=0x3F
DATABANK   NAME=gpr2     START=0x50     END=0x5F
DATABANK   NAME=gpr3     START=0x70     END=0x7F

SECTION    NAME=PROG1    ROM=page0      // ROM code space - page0
SECTION    NAME=PROG2    ROM=page1      // ROM code space - page1
SECTION    NAME=PROG3    ROM=page2      // ROM code space - page2
SECTION    NAME=PROG4    ROM=page3      // ROM code space - page3
SECTION    NAME=IDLOCS   ROM=.idlocs    // ID locations

