// Sample linker command file for 17C756
// $Id: 17c756.lkr,v 1.9 2006/08/19 02:50:41 craigfranklin Exp $

LIBPATH  .

CODEPAGE   NAME=vectors   START=0x0      END=0x27     PROTECTED
CODEPAGE   NAME=page      START=0x28     END=0x3FFF
CODEPAGE   NAME=config    START=0xFE00   END=0xFE0F   PROTECTED

SHAREBANK  NAME=sfrnobnk  START=0x0      END=0xF      PROTECTED
SHAREBANK  NAME=sfrnobnk  START=0x100    END=0x10F    PROTECTED
SHAREBANK  NAME=sfrnobnk  START=0x200    END=0x20F    PROTECTED
SHAREBANK  NAME=sfrnobnk  START=0x300    END=0x30F    PROTECTED
SHAREBANK  NAME=sfrnobnk  START=0x400    END=0x40F    PROTECTED
SHAREBANK  NAME=sfrnobnk  START=0x500    END=0x50F    PROTECTED
SHAREBANK  NAME=sfrnobnk  START=0x600    END=0x60F    PROTECTED
SHAREBANK  NAME=sfrnobnk  START=0x700    END=0x70F    PROTECTED

DATABANK   NAME=sfr0      START=0x10     END=0x17     PROTECTED
DATABANK   NAME=sfr1      START=0x110    END=0x117    PROTECTED
DATABANK   NAME=sfr2      START=0x210    END=0x217    PROTECTED
DATABANK   NAME=sfr3      START=0x310    END=0x317    PROTECTED
DATABANK   NAME=sfr4      START=0x410    END=0x417    PROTECTED
DATABANK   NAME=sfr5      START=0x510    END=0x517    PROTECTED
DATABANK   NAME=sfr6      START=0x610    END=0x617    PROTECTED
DATABANK   NAME=sfr7      START=0x710    END=0x717    PROTECTED

SHAREBANK  NAME=sfrprod   START=0x18     END=0x19     PROTECTED
SHAREBANK  NAME=sfrprod   START=0x118    END=0x119    PROTECTED
SHAREBANK  NAME=sfrprod   START=0x218    END=0x219    PROTECTED
SHAREBANK  NAME=sfrprod   START=0x318    END=0x319    PROTECTED
SHAREBANK  NAME=sfrprod   START=0x418    END=0x419    PROTECTED
SHAREBANK  NAME=sfrprod   START=0x518    END=0x519    PROTECTED
SHAREBANK  NAME=sfrprod   START=0x618    END=0x619    PROTECTED
SHAREBANK  NAME=sfrprod   START=0x718    END=0x719    PROTECTED

SHAREBANK  NAME=registers START=0x1A     END=0x1F
SHAREBANK  NAME=registers START=0x11A    END=0x11F
SHAREBANK  NAME=registers START=0x21A    END=0x21F
SHAREBANK  NAME=registers START=0x31A    END=0x31F
SHAREBANK  NAME=registers START=0x41A    END=0x41F
SHAREBANK  NAME=registers START=0x51A    END=0x51F
SHAREBANK  NAME=registers START=0x61A    END=0x61F
SHAREBANK  NAME=registers START=0x71A    END=0x71F

DATABANK   NAME=gpr0     START=0x20     END=0xFF
DATABANK   NAME=gpr1     START=0x120    END=0x1FF
DATABANK   NAME=gpr2     START=0x220    END=0x2FF
DATABANK   NAME=gpr3     START=0x320    END=0x3FF

// The stack directive below is for use with MPLAB-C17
// STACK SIZE=0x20
