// Sample linker command file for the rfPIC12F675K

LIBPATH  .

CODEPAGE   NAME=page     START=0x0      END=0x3FE
CODEPAGE   NAME=.oscval  START=0x3FF    END=0x3FF    PROTECTED
CODEPAGE   NAME=.idlocs  START=0x2000   END=0x2003   PROTECTED
CODEPAGE   NAME=.icdinst START=0x2004   END=0x2004   PROTECTED
CODEPAGE   NAME=.mfgcode START=0x2005   END=0x2005   PROTECTED
CODEPAGE   NAME=.devid   START=0x2006   END=0x2006   PROTECTED
CODEPAGE   NAME=.config  START=0x2007   END=0x2007   PROTECTED
CODEPAGE   NAME=.reserve START=0x2008   END=0x200F   PROTECTED
CODEPAGE   NAME=eedata   START=0x2100   END=0x217F   PROTECTED


DATABANK   NAME=sfr0nobnk START=0x0     END=0x1F     PROTECTED
DATABANK   NAME=sfr1nobnk START=0x80    END=0x9F     PROTECTED


SHAREBANK  NAME=gpr0nobnk START=0x20     END=0x5F
SHAREBANK  NAME=gpr0nobnk START=0xA0     END=0xDF


SECTION    NAME=PROG     ROM=page       // ROM code space
SECTION    NAME=OSCVAL   ROM=.oscval    // Oscillator Cal Value
SECTION    NAME=IDLOCS   ROM=.idlocs    // ID locations
SECTION    NAME=DEEPROM  ROM=eedata     // Data EEPROM
