#PICKit
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="04d8", ATTR{idProduct}=="0032", SYMLINK+="pickit1-%k"
#PICKit2
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="04d8", ATTR{idProduct}=="0033", SYMLINK+="pickit2-%k"
#ICD2
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="04d8", ATTR{idProduct}=="8000", SYMLINK+="icd2-%k"
#ICD21
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="04d8", ATTR{idProduct}=="8001", SYMLINK+="icd2-%k"
# Pinguino
ATTR{idVendor}=="04d8", ATTR{idProduct}=="feaa", MODE="0660",GROUP="microchip"
# PINGUINO BOOTLOADER
ATTRS{idVendor}=="04d8", ENV{ID_MM_DEVICE_IGNORE}="1"
# ACM and rfcomm add dialout group
KERNEL=="ttyACM*", GROUP="dialout", MODE="0666"
KERNEL=="rfcomm*", GROUP="dialout", MODE="0666"
